<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Technical task</title>

        <link type="text/css" rel="stylesheet" href="./css/bootstrap/css/bootstrap.css">
        <script src="./js/angular/angular.min.js"></script>
        <script src="./js/angular/angular-filter.js"></script>
        <script src="./js/angular/ui-bootstrap.js"></script>
        <script src="./js/index.js"></script>

        <link href="./css/style.css" rel="stylesheet"/>

    </head>

    <body ng-app="app">

        <div class="row-fluid content-width" >

            <div class="greyBG searchline-padding">

                <div class="input-group changethisone">

                    <input type="text" class="form-control" data-ng-model="searchText"
                           data-ng-model-options="{ debounce: 250 }"
                           placeholder="Enter name or company or number">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>

                </div>
            </div>

            <hr class="searchline-hr"/>

            <div class="row-fluid pre-scrollable data-div " ng-controller="index">
                <div class="row-fluid" ng-repeat="(key, value) in callList
                                                                   | map : getDayByDate
                                                                   | groupBy : 'connected' ">

                    <div class="row greyBG" ng-click="onDateRowClicked({key})">
                        <div class="col-md-9 col-md-offset-1 greyBG bold-style date-div">
                            {{ key }}
                        </div>

                    </div>

                    <div hide-on-date="{{key}}">
                        <div class="row-fluid item-row" ng-repeat="call in value | filter: searchText"
                             ng-include="'html-templates/callrow.html'"></div>
                    </div>


                </div>
            </div>
        </div>
    </body>

</html>