<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Technical task</title>

        <link type="text/css" rel="stylesheet" href="./css/bootstrap/css/bootstrap.css">
        <script src="./js/angular/angular.min.js"></script>
        <script src="./js/angular/angular-filter.js"></script>
        <script src="./js/angular/ui-bootstrap.js"></script>
        <script src="./js/index.js"></script>

        <link href="./css/style.css" rel="stylesheet"/>

    </head>

    <body ng-app="app">

        <div class="row-fluid content-width">

            <!--Searchline-->
            <div class="greyBG searchline-padding">

                <div class="input-group changethisone">

                    <input type="text" class="form-control" data-ng-model="searchText"
                           data-ng-model-options="{ debounce: 250 }"
                           placeholder="Enter name or company or number">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                        </span>

                </div>
            </div>

            <hr class="searchline-hr"/>

            <div class="row-fluid pre-scrollable" ng-controller="index" style=" overflow-x:hidden ">
                <div class="row-fluid" ng-repeat="(key, value) in callList
                                                                   | map : getDayByDate
                                                                   | groupBy : 'connected' ">
                    <div class="row greyBG" ng-click="dateGroupToggleActive($event)">
                        <div class="col-md-9 col-md-offset-1 greyBG bold-style">
                            {{ key }}
                        </div>
                    </div>

                    <div class="row-fluid item-row" ng-repeat="call in value | filter: searchText">

                        <div class="col-md-1 media">

                            <div ng-if="call.duration > 0" class="media-middle item-call-section"
                                 ng-switch on="call.direction">
                                <div ng-switch-when="0" class="media-middle">
                                    <img src="./img/diagonal-arrow_up.svg" width="10"/>
                                </div>
                                <div ng-switch-when="1">
                                    <img src="./img/diagonal-arrow_down.svg" width="10"/>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-8">

                            <div>
                                <div ng-switch on="call.name" ng-class="{missedCall: call.duration == 0}">
                                    <div ng-switch-when="">
                                        <h5 class="bold-style">Unknown caller</h5>
                                    </div>
                                    <div ng-switch-default>
                                        <h5 class="bold-style">{{ call.name }}</h5>
                                    </div>
                                </div>

                                <h6>Phone: {{ call.number }}</h6>
                            </div>

                        </div>

                        <div class="col-md-3 text-right">

                            <div class="item-duration-section">
                                <div ng-switch on="call.duration">
                                    <div ng-switch-when="0">
                                        <h5 class="missed-call-style">missed</h5>
                                    </div>
                                    <div ng-switch-default>
                                        <h5 class="missed-call-style">{{ getCallTime(call.duration) }}</h5>
                                    </div>
                                </div>
                                <img src="./img/call_back.svg"
                                     class="img-responsive pull-right "/>
                            </div>

                        </div>

                        <hr class="searchline-hr"/>

                    </div>
                </div>
            </div>
        </div>
    </body>

</html>