<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technical task</title>
    <link type="text/css" rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-filter-master/dist/angular-filter.js"></script>
    <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="./index.js"></script>


</head>

<body ng-app="app">


    <div class="col" style="width: 450px">

        <!--Searchline-->
        <div style="padding: 20px; background-color: #EEEEEE" >

            <div class="input-group" >

                <input type="text" class="form-control" data-ng-model="searchText"
                       data-ng-model-options="{ debounce: 250 }"

                       placeholder="Search for...">

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>

            </div>
        </div>

        <!--Items-->

        <style>
            .test {
                color: red;
            }
        </style>

        <!--style=" height: 400px; overflow-x:hidden "-->

        <div ng-controller="index" >

            <div ng-repeat="call in callList | filter: searchText">

                <!--<div class="row-fluid" style="background-color: #AFC3DF">
                    <div class="col-md-4" style="background-color: #ADFC3F">qwdqwd</div>
                    <div class="col-md-4" style="background-color: #3AFCDF">qwdqwd</div>
                    <div class="col-md-4" style="background-color: #FC3ADF">qwdqwd</div>
                </div>-->

                <div class="row-fluid"
                     style="display: flex; align-items: center ">

                    <div class="col-sm-1">

                        <div ng-if="call.duration > 0"
                             ng-switch on="call.direction"
                             style="height: 100%; min-height: 100%;">

                            <div ng-switch-when="0">
                                <img src="./img/diagonal-arrow_up.svg"
                                     class="img-responsive" width="30"
                                     />
                            </div>

                            <div ng-switch-when="1">
                                <img src="./img/diagonal-arrow_down.svg"
                                     class="img-responsive" width="12"
                                     />
                            </div>

                        </div>

                    </div>

                    <div class="col-sm-8">
                        <div >

                            <div ng-switch on="call.name" ng-class="{test: call.duration == 0}">
                                <div ng-switch-when="">
                                    <h5 style="font-weight: bold">Unknown caller</h5>
                                </div>
                                <div ng-switch-default>
                                    <h5 style="font-weight: bold">{{ call.name }}</h5>
                                </div>
                            </div>

                            <h6>Phone: {{ call.number }}</h6>


                        </div>
                    </div>


                    <div class="col-sm-3 text-right">

                        <div style="padding-right: 10px">

                            <div ng-switch on="call.duration">
                                <div ng-switch-when="0">
                                    <h5 style="color: #999999">missed</h5>
                                </div>

                                <div ng-switch-default>
                                    <h5 style="color: #999999">{{ getCallTime(call.duration) }}</h5>
                                </div>
                            </div>

                            <img src="./img/call_back.svg"
                                 class="img-responsive pull-right " />

                        </div>

                    </div>

                </div>

                <div class="row-fluid">
                    <div class="col-md-11 col-md-offset-1">
                        <hr style="border-top: 1px solid #EEEEEE !important; margin-top: 10px; margin-bottom: 1px" />
                    </div>
                </div>

            </div>





            <!--<ul ng-repeat="(key, value) in callList | map: getDayByDate track by getDayByDate | groupBy : 'connected' ">

                Group name: {{ key }}
                <li ng-repeat="player in value">
                    Hello, {{player.connected | date:'MM/dd/yyyy'}}!
                </li>
            </ul>-->
            <!--| toArray:true | orderBy:min-->

        </div>

        <span class="label label-success">Success</span>



    </div>


</body>

</html>